* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host {
    width: 100%;
    height: 100%;
    display: block;
}

.front-page {
    height: 100%;
    display: flex;
    gap: 1rem;
}

.front-page__menu {
    position: absolute;
    left: 41px;
    top: 41px;
}

.front-page__image-wrapper {
    background-image: url(/assets/img/front-page-image.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1rem;
}

.front-page__title {
    font-family: "Forum", sans-serif;
    font-size: 140px;
    color: #EFE7D2;
    max-width: 68.1875rem;
    left: 77px;
    bottom: 52px;
    position: absolute;
}

.front-page__account {
    display: flex;
    gap: 1.5rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
}

.front-page__account-icon {
    padding: 1rem;
    background-color: #0A0B0A;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.front-page__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 26.25rem;
}

.front-page__item {
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
}

.front-page__item-image {
    object-fit: cover;
    min-width: 26.25rem;
    height: 100%;
}


.front-page__item-button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.75rem 0 0 1.5rem;
    font-family: "Forum", sans-serif;
    font-size: 16px;
    color: #EFE7D2;
    border-top-left-radius: 30px 30px;
    background-color: #0A0B0A;
    border: none;

    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

.front-page__socials {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    bottom: 0;
    right: 0;
    background-color: #0A0B0A;
    padding: 1.5rem 1rem 1rem 1.5rem;
    border-top-left-radius: 30px 30px;
}


.front-page__account-register {
    border: none;
    background-color: #0A0B0A;
    color: white;
    font-family: "Forum", sans-serif;
    font-size: 18px;
    padding: 1.25rem;
    border-radius: 12px;
    font-weight: 400;
    cursor: pointer;
}


.front-page__account-register:hover {
    background-color: #252825;
}