* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:host {
    width: 928px;
}

.about-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-page__main, .about-page__history {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.about-page__main-card, .about-page__history-card {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(239, 231, 210, 0.15);
    border-radius: 1rem;
}


.about-page__main-card-title, .about-page__history-card-title {
    text-transform: uppercase;
    color: rgba(239, 231, 210, 1);
    font-family: "Forum", sans-serif;
}

.about-page__main-card-title {
    font-size: 32px;
}

.about-page__history-card-title {
    font-size: 24px;
}


.about-page__main-card-content, .about-page__history-card-content {
    font-family: "Satoshi-Light", sans-serif;
    color: rgba(239, 231, 210, 1);
}

/* TODO: Seguir arreglando el problema de las imagenes */

.about-page__main-img-wrapper, .about-page__history-img-wrapper {
    width: 456px;
    height: 377.5px;
    border-radius: 1rem;
    overflow: hidden;
    flex-shrink: 0;
}

.about-page__main-img, .about-page__history-img {
    object-fit: cover;
    height: 100%;
    width: 456px;
}