.blog-detail-page {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem 6rem;
    border-radius: 16px;
    border:1px solid rgba(239, 231, 210, 0.15);
}


.blog-detail-page__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.blog-detail-page__header-date {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}



.blog-detail-page__date-logo {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
}

.blog-detail-page__logo-line {
    width: 20px;
    height: 1px;
    background-color: rgba(239, 231, 210, 0.15);
}

.blog-detail-page__date-content {
    font-family: var(--font-satoshi);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 130%;
    color: rgba(239, 231, 210, 1);
    text-transform: uppercase;
}

.blog-detail-page__header-title {
    font-family: "Forum", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 1px;
    color: rgba(239, 231, 210, 1);
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
    max-width: 100%;
}

.blog-detail-page__logo {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
}

.blog-detail-page__description {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.blog-detail-page__description-preview {
    font-family: var(--font-satoshi);
    font-size: 16px;
    line-height: 180%;
    color: rgba(239, 231, 210, 1);
    word-wrap: break-word;
}


.blog-detail-page__description-author {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(225, 217, 198, 1);
}


.blog-detail-page__description--title {
    font-family: "Forum", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: rgba(239, 231, 210, 1);
    text-transform: uppercase;
}


.blog-detail-page__description--paragraph {
    font-family: var(--font-satoshi);
    font-size: 16px;
    line-height: 180%;
    color: rgba(245, 242, 234, 0.7);
}

.blog-detail-page__description-editable {
    font-family: var(--font-satoshi);
    font-size: 16px;
    line-height: 180%;
    color: rgba(245, 242, 234, 1);
    background-color: transparent;
    overflow: hidden;
    resize: none;
}


@media screen and (max-width: 1024px) {
    .blog-detail-page{
        padding: 3rem;
    }
    .blog-detail-page__header-title{
        font-size: 3rem;
    }
}