.modal-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.9);
}

.modal-menu__item {
    font-family: "Forum", sans-serif;
    font-size: 64px;
    color: rgba(239, 231, 210, 1);
    cursor: pointer;
    color: #EFE7D2;
    text-decoration: none;
}


.modal-menu__item:hover {
    text-decoration: underline;
}

.modal-menu__logo {
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
}

.modal-menu__logo-line {
    width: 20px;
    height: 1px;
    background-color: rgba(239, 231, 210, 0.15);   
}