.blog-card {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}


.blog-card__image-wrapper {
    max-width: 280px;
    max-height: 210px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}

.blog-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.blog-card__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.blog-card__date {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.blog-card__logo {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
}

.blog-card__logo-line {
    width: 20px;
    height: 1px;
    background-color: rgba(239, 231, 210, 0.15);
}


.blog-card__date-content {
    flex: 1;
    font-family: var(--font-satoshi);
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(239, 231, 210, 1);
    text-transform: uppercase;
}

.blog-card__title {
    font-family: "Forum", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 120%;
    color: rgba(239, 231, 210, 1);
    text-transform: uppercase;
}


.blog-card__description {
    font-family: var(--font-satoshi-light);
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0;
    color: rgba(245, 242, 234, 0.7);
}

.blog-card__author {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: rgb(225, 217, 198, 1);
}


.blog-card__like-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem;
    border-radius: 12px;
    background-color: rgba(10, 11, 10, 1);
    top: 10px;
    left: 10px;
    cursor: pointer;
}
